@import "tailwindcss";
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  background-color:#f5f0f0;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 95%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.link {
  color: #000;
}
.link:hover {
  color: #ff5252;
}

.bg-primary {
  color: #ff5252;
}

.MuiBadge-badge {
  
  background-color:#ff5252 !important;
}

nav ul button{text-transform: capitalize !important; color:rgba(0, 0, 0, 0.7)!important;}
nav ul button:hover{
  background-color:none !important;
}


